[submodule "custom_nodes/comfyui_controlnet_aux"]
	path = custom_nodes/comfyui_controlnet_aux
	url = https://github.com/Fannovel16/comfyui_controlnet_aux.git
[submodule "custom_nodes/ComfyUI-KJNodes"]
	path = custom_nodes/ComfyUI-KJNodes
	url = https://github.com/kijai/ComfyUI-KJNodes
[submodule "custom_nodes/ComfyUI-Easy-Use"]
	path = custom_nodes/ComfyUI-Easy-Use
	url = https://github.com/yolain/ComfyUI-Easy-Use
[submodule "custom_nodes/ComfyUI_LayerStyle"]
	path = custom_nodes/ComfyUI_LayerStyle
	url = https://github.com/chflame163/ComfyUI_LayerStyle
[submodule "custom_nodes/ComfyUI-TeaCache"]
	path = custom_nodes/ComfyUI-TeaCache
	url = https://github.com/welltop-cn/ComfyUI-TeaCache
[submodule "custom_nodes/ComfyUI-Lotus"]
	path = custom_nodes/ComfyUI-Lotus
	url = https://github.com/kijai/ComfyUI-Lotus
[submodule "custom_nodes/ComfyUI_Comfyroll_CustomNodes"]
	path = custom_nodes/ComfyUI_Comfyroll_CustomNodes
	url = https://github.com/Suzie1/ComfyUI_Comfyroll_CustomNodes
[submodule "custom_nodes/was-node-suite-comfyui"]
	path = custom_nodes/was-node-suite-comfyui
	url = https://github.com/WASasquatch/was-node-suite-comfyui
[submodule "custom_nodes/execution-inversion-demo-comfyui"]
	path = custom_nodes/execution-inversion-demo-comfyui
	url = https://github.com/BadCafeCode/execution-inversion-demo-comfyui.git
[submodule "custom_nodes/xiu_iat"]
	path = custom_nodes/xiu_iat
	url = https://github.com/Xiuzhenpeng/xiu_iat_comfyui.git
[submodule "custom_nodes/ComfyUI-IAT"]
	path = custom_nodes/ComfyUI-IAT
	url = https://github.com/Eric7758/ComfyUI-IAT
[submodule "custom_nodes/comfyui-various"]
	path = custom_nodes/comfyui-various
	url = https://github.com/jamesWalker55/comfyui-various.git
[submodule "custom_nodes/ComfyUI_essentials"]
	path = custom_nodes/ComfyUI_essentials
	url = https://github.com/cubiq/ComfyUI_essentials.git
[submodule "custom_nodes/ComfyUI-SeedVR2_VideoUpscaler"]
	path = custom_nodes/ComfyUI-SeedVR2_VideoUpscaler
	url = https://github.com/numz/ComfyUI-SeedVR2_VideoUpscaler
[submodule "custom_nodes/LanPaint"]
	path = custom_nodes/LanPaint
	url = https://github.com/scraed/LanPaint
